.home {
  height: 100%;
  display: flex;
  align-items: stretch;
  margin: 0;
  text-align: center;

  .sidebar {
    display: flex;
    flex-direction: column;
    width: $sidebar-width;
    height: 100%;
    position: fixed;
    top: 0;
    text-align: left;

    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 200px;
      min-height: 400px;
    }
    .el-menu {
      flex-grow: 1;

      >.el-menu-item {
        display: flex;
        align-items: center;
      }
    }
    .el-submenu__title {
      display: flex;
      align-items: center;
    }
    .el-menu-item-group__title {
      display: flex;
    }
    .el-submenu {
      .el-menu-item {
        display: flex;
      }
    }
  }
  .main-content {
    margin-left: $sidebar-width;
    flex-grow: 1;
    padding: 1rem;
    background-color: $gray-bg-color;
    overflow: auto;

    .content-footer {
      padding: 1.5rem;
      font-size: 1.4rem;
      line-height: 1.5;
      color: $light-gray-color;
    }
  }
}

// list
.list {
  .list-item {
    display: flex;
    align-items: center;
    min-height: 3.5rem;
    padding: .5rem;
    background-color: $white-color;
    border-bottom: 2px solid $gray-bg-color;
    font-size: 1.2rem;
    color: $gray-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.dashboard {
  .el-row {
    margin-bottom: 1rem;

    >.el-col {
      margin-bottom: 1rem;

      .ve-pie {
        > div {
          margin: 0 auto;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
