.lee-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4px;
  background-color: $white-color;

  .heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.4rem;
    font-size: 2rem;
    background-color: inherit;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid $gray-bg-color;
  }
  .content {
    flex-grow: 1;
    padding: 1.4rem;
  }
}
