.lee-step {
  .heading {
    font-size: 2rem;
    color: $success-color;
    height: 6rem;

    .title {
      flex-grow: 1;
      text-align: center;
    }
  }
  .content {
    padding: 2rem;
    text-align: left;
  }
}
