.lee-user-panel {
  border-radius: 4px;

  .heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.4rem;
    background: $white-color;
    border-bottom: 2px solid $gray-bg-color;

    .info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        color: $primary-color;
        font-size: 2rem;
      }
      .role {
        color: $gray-color;
        font-size: 1.2rem;
      }
    }
  }
  .list {
    .list-item {
      display: flex;
      align-items: center;
      min-height: 3.5rem;
      background-color: $white-color;
      border-left: 2px solid $success-color;
      border-bottom: 2px solid $gray-bg-color;
      font-size: 1.2rem;
      color: $gray-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
