// color
$primary-color: #20A0FF;
$success-color: #13CE66;
$warning-color: #F7BA2A;
$danger-color: #FF4949;
$white-color: #fff;
$black-color: #313131;
$darken-gray-color: #616161;
$gray-color: #757575;
$light-gray-color: #9e9e9e;
$helper-color: #bababa;
$gray-bg-color: #f3f3f3;
$light-gray-bg-color: #f6f6f6;
$darken-gray-bg-color: #eee;

$sidebar-bg-color: #324157;
$sidebar-width: 20rem;

$box-shadow: 0 2px 2px 0 transparentize($black-color, .92);

.primary {
  background-color: $primary-color!important;
}
.success {
  background-color: $success-color!important;
}
.warning {
  background-color: $warning-color!important;
}
.danger {
  background-color: $danger-color!important;
}

.primary-text {
  color: $primary-color!important;
}
.success-text {
  color: $success-color!important;
}
.warning-text {
  color: $warning-color!important;
}
.danger-text {
  color: $danger-color!important;
}

.large-text {
  font-size: 1.8rem!important;
}
.normal-text {
  font-size: 1.4rem!important;
}
.small-text {
  font-size: 1.2rem!important;
}

html {
  font-size: 10px;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.justify-box {
  display: flex;
  align-items: center;
}

.justify-vertical {
  display: flex;
  flex-direction: column;
}
